body{
    background-image: url("../images/connect4ImageIntroBG.png");
    
    background-position-x: center;
    
}
#username{
    text-align: center;
    position: absolute;
    left: 650px;
    top: 525px;
}
input{
    height: 50px;
    width: 234px;
    border: 5px solid #353d61;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    color:  #353d61;
    
}
#button{
    position: relative;
    top: 20px;
}